:root {
  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right,
    hsl(45, 100%, 72%),
    hsl(35, 100%, 68%)
  );

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /**
   * typography
   */

  /* font-family */
  --ff-poppins: "Poppins", sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */

  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}
::selection {
  background-color: var(--vegas-gold);
  color: black;
}

/* Box Shadow  */

.box-shadow {
  box-shadow: var(--shadow-1);
  border: 1px solid hsla(0, 0%, 84%, 0.2);
}

/* Scroll  */
@media (min-width: 1250px) {
  body::-webkit-scrollbar {
    width: 20px;
  }

  body::-webkit-scrollbar-track {
    background: var(--smoky-black);
  }

  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
      inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }

  body::-webkit-scrollbar-button {
    height: 0px;
  }

  /* right bar scroll  */
  .navscr::-webkit-scrollbar {
    width: 10px;
  }

  .navscr::-webkit-scrollbar-track {
    background: none;
  }

  .navscr::-webkit-scrollbar-thumb {
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    background: var(--smoky-black);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
      inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  .navscr::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }

  .navscr::-webkit-scrollbar-button {
    height: 10px;
  }
}

/* Social item links  */

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

.icon-box ion-icon {
  --ionicon-stroke-width: 35px;
}
.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 45px;
  height: 45px;
  padding: 6px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.social-item .social-link {
  color: var(--light-gray-70);
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.social-link .item:hover {
  color: var(--light-gray);
}

.info_more-btn {
  position: absolute;
  top: -2px;
  right: -2px;
  border-radius: 0 15px;
  font-size: 13px;
  color: var(--orange-yellow-crayola);
  background: var(--border-gradient-onyx);
  padding: 8px 10px;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  z-index: 1;
}
.info_more-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--bg-gradient-jet);
  transition: var(--transition-1);
  z-index: -1;
}

.info_more-btn:hover,
.info_more-btn:focus {
  background: var(--bg-gradient-yellow-1);
}

.info_more-btn:hover::before,
.info_more-btn:focus::before {
  background: var(--bg-gradient-yellow-2);
}

.info_more-btn span {
  display: none;
}

/* Mobile hidden class  */
@media screen and (max-width: 480px) {
  .icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 35px;
    height: 35px;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1px;
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
  }
}

@media screen and (min-width: 480px) {
  .hid {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hidd {
    display: none;
  }
  .form-btn {
    width: 50%;
  }
}

.active {
  color: hsl(45, 100%, 72%);
}
.active:hover {
  color: hsl(45, 100%, 72%);
}

/* // Form button  */
.form-btn {
  position: relative;

  right: 0;
  background: var(--border-gradient-onyx);
  color: var(--orange-yellow-crayola);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: var(--fs-6);
  text-transform: capitalize;
  box-shadow: var(--shadow-3);
  z-index: 1;
  transition: var(--transition-1);
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}

.form-btn ion-icon {
  font-size: 16px;
}

.form-btn:hover {
  background: var(--bg-gradient-yellow-1);
}
.text-area {
  resize: none;
}

.icon-col {
  color: var(--vegas-gold);
  font-size: 28px;
  padding-top: 5px;
}

/* Resume  */
.icon-box-rs::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

.icon-box-res ion-icon {
  --ionicon-stroke-width: 35px;
}
.icon-box-rs {
  position: relative;
  background: var(--bg-gradient-yellow-2);
  width: 38px;
  height: 38px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.skill-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

.skill-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  font-size: 1px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}
.download-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}
.download-btn {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 180px;
  padding: 10px;
  border-radius: 8px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

/* .line {
  height: 1px;
  width: 18%;
  background-color: var(--vegas-gold);
  transform: rotate(90deg);
  position: absolute;
  left: -2.3%;
  top: 19%;
}
.dot1,
.dot2 {
  border-radius: 50%;
  background-color: var(--vegas-gold);
  height: 10px;
  width: 10px;
  position: absolute;
  top: 15.5%;
  left: 6%;
  padding: 2px;
  border: 3px solid var(--vegas-gold);
}
.dot2 {
  top: 260px;
}

.line-ex {
  height: 1px;
  width: 18%;
  background-color: var(--vegas-gold);
  transform: rotate(90deg);
  position: absolute;
  left: -2.3%;
  top: 45.5%;
}
.dot1-ex,
.dot2-ex {
  border-radius: 50%;
  background-color: var(--vegas-gold);
  height: 10px;
  width: 10px;
  position: absolute;
  top: 42%;
  left: 6%;
  padding: 2px;
  border: 3px solid var(--vegas-gold);
}
.dot2-ex {
  top: 51.5%;
}

@media (max-width: 400px) {
   .line {
    height: 1px;
    width: 56%;
    background-color: var(--vegas-gold);
    transform: rotate(90deg);
    position: absolute;
    left: -19.5%;
    top: 19%;
  }
  
  .dot1,
  .dot2 {
    border-radius: 50%;
    background-color: var(--vegas-gold);
    height: 10px;
    width: 10px;
    position: absolute;
    top: 12.5%;
    left: 7%;
    padding: 2px;
    border: 3px solid var(--vegas-gold);
  }
  .dot2 {
    top: 335px;
  } 

  .line-ex {
    height: 1px;
    width: 41%;
    background-color: var(--vegas-gold);
    transform: rotate(90deg);
    position: absolute;
    left: -42px;
    top: 47%;
  }
  .dot1-ex,
  .dot2-ex {
    border-radius: 50%;
    background-color: var(--vegas-gold);
    height: 10px;
    width: 10px;
    position: absolute;
    top: 52.5%;
    left: 26.5px;
    padding: 2px;
    border: 3px solid var(--vegas-gold);
  }
  .dot2-ex {
    top: 42.5%;
  }
} */
